.container{
    max-width : 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 4px 4px 2px #18191b;
    border-radius: 4px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name {
    margin-left: -4rem;
}

.coin-raw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 4px 2px #18191b;
    border-radius: 4px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-raw:hover{
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor:pointer;
}

img{
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 720px) {
    .hide-mobile{
        display: none;
    }
}